<div class='row'>

    <h1>Account Settings</h1>

    <h3>Change Email</h3>
    <form>
        <div class='form-group'>
            <label>New Email:</label>
            <input type='email' class='form-control' />
            <label>Re-enter email: </label>
            <input type='email' />
            <input type='submit' value='Save'/>
        </div>
    </form>
    <h3>Change Password</h3>

    <h3>Change Username</h3>

    <h3>Close Account</h3>
    <form method="post" action='{{"/api/user/" + id}}'>
        <input type='submit' class='btn btn-danger' value='Delete' />
    </form>
</div>