doctype html
html(ng-app='todo-app' lang='en')
  head
    title Git 'R' Done
    script(src='https://code.angularjs.org/1.6.4/angular.min.js')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    script(src='client/Javascripts/router.js')
    script(src='client/Javascripts/client.js')
  body
    nav.navbar.navbar-default
      .container-fluid
        ul.nav.navbar-nav.navbar-right
          li.dropdown
          li.btn-group.btn
            a(href='/') Account
          li.btn-group.btn
            a(href='/') Signout
        .row
          div(ng-view)